.popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation: ani .5s forwards;
  display: none;
}

@keyframes ani {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
