.popup__submit-button {
  max-width: 358px;
  height: 50px;
  background-color: #000000;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  padding: 16px 36px 37px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.popup__submit-button:hover {
  opacity: 0.6;
}
@media (max-width: 650px) {
  .popup__submit-button {
      line-height: 1rem;
      font-size: 0.8rem;
  }
}
