.popup__text-error {
  max-width: 340px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #FF0000;
  line-height: 0.9rem;
  margin-top: 5px;
  padding: 0;
  position: absolute;
  top: 33px;
  z-index: 1;
}
